.baslik{
    text-align: center;
    
}
.dropdown{
    text-align: center;
    margin-bottom: 10px;
}
.select{
    width: 70%;
    font-size: larger;
}
.assignMessage{
    text-align: center;
    color: blue;
    margin-top: 15px;
}