
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
    max-width: 80%;
    position: relative;
}
.modal-content h1{
    margin-bottom: 7px;
    color: #8EA7E9;
}
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.textbox {
    margin-bottom: 15px;
}

.textbox input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.PasswordMessage {
    color: blue;
    margin-top: 15px;
}

.PasswordError {
    color: rgb(226, 29, 29);
    margin-top: 15px;
}

.btn {
    width: 100%;
    padding: 10px;
    background: #8EA7E9;
    border: none;
    outline: none;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
}
 
.btn:hover {
    background: #4973e6;
}
.LoginlogoP{
    width: 150px;
    height: 150px;
    padding-bottom: 20px;
    margin:0 auto;
    display: block;

}
