.expense-container {
    max-width: 1000px;
    margin: 120px auto;
    padding: 2rem;
    background-color: #ffffffc0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .btn-delete{
    background-color: rgb(192, 57, 43); 
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
  }
  .btn-delete:hover{
    background-color: rgb(172, 37, 23); 
    transform: scale(1.05);
  }