.reset-password {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to left, #7286D3, #8EA7E9, #E5E0FF);

}
.reset-password.admin {
    background: linear-gradient(to left, #7286D3, #8EA7E9, #E5E0FF);
  }
  
  
  .reset-password.manager {
    background: linear-gradient(to left, #92C7CF, #AAD7D9, #FBF9F1); 
  }
  
  .reset-password.employee {
    background: linear-gradient(to left, #C39898, #DBB5B5, #F1E5D1);
  }
  .btn-yeniden.employee{
background-color:#C39898
  }
  .btn-yeniden.employee:hover {
    background-color: #a67676; 
  }
  .btn-yeniden.manager{
    background-color: #4a9296;
  }
  .btn-yeniden.manager:hover {
    background-color: #2b9da3; 
  }
  .btn-yeniden.admin{
    background-color: #8EA7E9;
  }
  .btn-yeniden.admin:hover {
    background-color: #4973e6; 
  }
  .txt-warn.employee{
color:#a67676;
  }
  .txt-warn.manager{
    color:#4a9296;
      }
      
.reset-password-box {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
    max-width: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.reset-password-box h1{
    margin-bottom: 7px;
    color: #8EA7E9;
}
.textbox {
    margin-bottom: 15px;
}

.textbox input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-şifre {
    width: 100%;
    padding: 10px;
    background: #8EA7E9;
    border: none;
    outline: none;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 10px;
}
.btn-şifre:hover{
    background: #4973e6;
}
.ResetPasswordMessage {
    text-align: center;
    color: blue;
    margin-top: 15px;
}

.ResetPasswordError {
    text-align: center;
    color: rgb(226, 29, 29);
    margin-top: 15px;
}

.password-input-container {
    position: relative;
    display: flex;
    align-items: center;
  }
  .password-toggle-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .password-toggle-icon-a{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
             
.btn-yeniden{
    width: 100%;
    padding: 10px;
    background: #8EA7E9;
    border: none;
    outline: none;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 10px;
}

.timer{
   margin-bottom: 3px;
   margin-top: -15px;
   text-align: center;
   color: blue;
   padding: 5px;
}
  
